img.site-logo {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 0 5px 0 0;
}
h1.site-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  vertical-align: baseline;
}
ul.social-icons {
  margin: 0;
  padding: 0;
  list-style: outside none none;
  display: block;
  clear: both;
}
ul.social-icons > li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border: medium none !important;
  /*float: left;*/
  list-style-type: none !important;
  margin: 0 6px 12px 0 !important;
  padding: 0 !important;
  display: inline-block;
}
ul.social-icons > li > a {
  border: none !important;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  line-height: 1.5rem;
  speak: none;
  text-align: center;
  text-decoration: none !important;
  text-transform: none !important;
  width: 1.5rem;
  font-size: 1.2rem !important;
}
div.masthead {
  margin-bottom: 1rem;
}
h3.masthead-title > a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
h3.masthead-title > small {
  font-size: 70%;
}
.sidebar-item {
  padding-bottom: 0px;
}
span.post-date, span.post-category {
  margin-bottom: 0.5rem;
  display: inline-block;
  min-width: 200px;
}
small.post-date, .related-posts li small {
  font-size: 0.7rem;
  float: right;
  margin-top: 0.5rem;
}
hr.post-break {
  margin: 0 0 0.8rem;
}
a.post-readmore {
  font-size: 0.8rem;
  float: right;
}
div.post-tags {
  border: solid 1px #ccc;
  border-right: none;
  border-left: none;
  padding: 0.2rem 0;
  margin-bottom: 0.8rem;
}
ul.related-posts > li {
  clear: both
}
.pagination-item {
  padding: 0.5rem;
}
@media (min-width: 30.1em) {
  .sidebar-toggle:before {
    padding-bottom: .135rem;
    border-top-width: .45rem;
    border-bottom-width: .2rem;
  }
}
