---
layout: default
---

<div id="home">
  <ul class="posts" id="blog-posts">
  {% for post in site.posts limit:10 %}
  <li class="post">
    <div><span><i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</span></div>
    <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
    {% if post.tags.size > 0 %}
    <div class="tags">
      {% for tag in post.tags %}
        <a class="tag" href="{{ tag | replace:' ','-' | url_encode | prepend: '/tags.html#tag=' | relative_url }}">{{tag}}</a>
      {% endfor %}
    </div>
    {% endif %}
    <div>{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content }}{% endif %}</div>
    <div class="clearfix"><a href="{{ post.url }}" title="{{ post.title }}" class=""><span>Đọc thêm &raquo;</span></a></div>
  </li>
  {% endfor %}
  {% if site.posts.size > 10 %}
  <li class="old-posts"><a href="{{ 'archive.html' | relative_url }}">Bài cũ hơn</a></li>
  {% endif %}
  </ul>
</div>
