---
layout: slide
title: Continuous Integration
---

<style type="text/css">
  ul.logos {list-style: none}
  ul.logos > li {display: inline-block}
  ul.logos img {box-shadow: none; background: transparent; border: solid 2px transparent}
  ul.logos img.github {background: #fff; border-color: #fff; border-radius: 80px}
</style>

<section id="cover">
  <h3>Continuous Integration</h3>
  <p>
    <small>Created by <a href="{{ site.data.author.homepage }}">{{ site.data.author.name }}</a></small>
  </p>
  <ul class="logos">
    <li><img src="{{ '/assets/img/lg-git.png' | prepend: site.baseurl }}"></li>
    <li><img class="github" src="{{ '/assets/img/lg-github.png' | prepend: site.baseurl }}"></li>
    <li><img src="{{ '/assets/img/lg-gitlab.png' | prepend: site.baseurl }}"></li>
    <li><img src="{{ '/assets/img/lg-travisci.png' | prepend: site.baseurl }}"></li>
  </ul>
</section>

<section id="contents">
  <h3>Nội dung</h3>
  <ol>
    <li class="fragment"><a href="">CI là gì?</a></li>
    <li class="fragment"><a href="">Tại sao nên dùng CI?</a></li>
    <li class="fragment"><a href="">Workflow cỉa CI</a></li>
    <li class="fragment"><a href="">Triển khai trên Travis CI</a></li>
    <li class="fragment"><a href="">Làm việc với Gitlab CI</a></li>
  </ol>
</section>

<section>
  <h2>CI là gì?</h2>
  <blockquote class="fragment" cite="http://www.ibm.com/developerworks/vn/library/rational/201301/continuous-integration-agile-development/" style="width: 100%">
    <div style="text-align: left">&ldquo;Tích hợp liên tục (CI) là phương pháp phát triển phần mềm đòi hỏi các thành viên trong nhóm
    tích hợp công việc thường xuyên. Mỗi ngày, các thành viên đều phải theo dõi và phát triển
    công việc của họ ít nhất một lần. Việc này sẽ được một nhóm khác kiểm tra tự động,
    nhóm này sẽ tiến hành kiểm thử truy hồi để phát hiện lỗi nhanh nhất có thể. Cả nhóm thấy rằng
    phương pháp tiếp cận này giúp giảm bớt vấn đề về tích hợp hơn và cho phép phát triển phần mềm gắn kết nhanh hơn.&rdquo;</div>
    <div style="text-align: right"><strong style="text-align:right;color:red">-- Thư viện phát triển phần mềm của IBM</strong></div>
  </blockquote>
</section>

<section>
  <section>
    <h1>Chuyện của Nam</h1>
    <a href="https://toidicodedao.com/2015/08/27/giai-thich-don-gian-ve-ci-continuous-integration-tich-hop-lien-tuc/">
      https://toidicodedao.com</a>
  </section>

  <section>
    <ul>
      <li class="fragment">Sinh viên IT năm cuối của trường A</li>
      <li class="fragment">Làm bài tập nhóm</li>
      <li class="fragment">Phân tích module nhỏ, giao cho từng người</li>
      <li class="fragment">Cơn ác mộng khi cả nhóm <b>ráp</b> code</li>
    </ul>
    <p>
      <img class="fragment" src="{{ '/assets/img/workgroup.jpg' | prepend: site.baseurl }}" style="border:none;box-shadow:none">
    </p>
  </section>

  <section>
    <ul>
      <li class="fragment">Ra trường</li>
      <li class="fragment">Được nhận vào công ty B</li>
      <li class="fragment">Biết dùng SVN/Git và tích hợp code</li>
      <li class="fragment">OT để suẳ lỗi tích hợp</li>
    </ul>
  </section>

  <section data-background="{{ '/assets/img/fail.jpg' | prepend: site.baseurl }}" data-background-size="auto 90%" data-background-transition="zoom"></section>

  <section>
    <b>Công ty C</b>
    <ul>
      <li class="fragment">Áp dụng Agile, CI</li>
      <li class="fragment">Code được viết Unit Test đầy đủ</li>
      <li class="fragment">Code được tự động test với hệ thống CI khi commit</li>
      <li class="fragment">Code lỗi hoặc build bị lỗi sẽ có mail thông báo</li>
      <li class="fragment">Tích hợp liên tục và đơn giản</li>
    </ul>
    <p class="fragment" style="text-align:left;margin-left:1.5em;color:red">=> Thời gian phát triển giảm xuống</p>
  </section>

</section>

<section data-background="{{ '/assets/img/ci.jpg' | prepend: site.baseurl }}" data-background-size="auto 90%">
  <aside class="notes">
    Đây là sơ đồ chu trình phát triển theo phương pháp CI. Nó đc chia thành 12 bước...
    Và để giúp phát triển nhanh hơn thì người ta thường xây dựng hệ thống để cho máy sẽ tự động làm các bước từ 2 đến 11.
  </aside>
</section>

<section data-transition="zoom">
  <h2>
    <span style="color:yellow">TDD</span>
    <span> + </span>
    <span style="color:red">Automatic</span>
    <span> = </span>
    <span style="color:orange">CI</span>
  </h2>
</section>

<section>
  <h3>Tại sao nên dùng CI ?</h3>
  <ul>
    <li class="fragment">Đảm bảo code luôn build được, luôn chạy đúng</li>
    <li class="fragment">Tăng tốc đô phát triển</li>
  </ul>
</section>

<section>
  <h3>Framework thực hiện CI</h3>
  <p class="fragment" style="color: red">CI Không phải là CodeIgniter</p>
  <ul>
    <li class="fragment">Team Foundation Server - Microsoft</li>
    <li class="fragment">TeamCity - Jet Brains</li>
    <li class="fragment">Hudson</li>
    <li class="fragment">Jenkin</li>
    <li class="fragment">Travis</li>
    <li class="fragment">GitLab CI</li>
    <li class="fragment"><a href="https://github.com/ligurio/Continuous-Integration-services/blob/master/continuous-integration-services-list.md">other sercives</a></li>
  </ul>
</section>

<section data-background="{{ '/assets/img/ci-workflow.jpg' | prepend: site.baseurl }}" data-background-size="auto 90%" data-background-transition="zoom">
  <aside class="notes">
    Đây là workflow của CI. Như các bạn thấy, khi developer 2 đưa các thay đổi của mình
    lên source control server, thì hệ thống build cũng tự động lấy phần thay đổi đó về, build và test.
    Sau đó sẽ thông báo đến manager và các developer khác đang theo dõi về tình trạng bản build.
  </aside>
</section>

<section>
  <h2>Travis CI là gì?</h2>
  <img class="logo" src="{{ '/assets/img/lg-travisci.png' | prepend: site.baseurl }}">
  <ul style="list-style: none">
    <li class="fragment">Travis CI - <a href="https://travis-ci.org">travis-ci.org</a></li>
    <li class="fragment">Travis Pro - <a href="https://travis-ci.com">travis-ci.com</a></li>
  </ul>
</section>

<section>
  <section><h2>Cấu tạo của Travis CI</h2></section>
  {% for i in (1..21) %}
  <section data-background="{{ '/assets/img/travisci/' | prepend: site.baseurl | append: i | append: '.png' }}"
   data-background-size="auto 90%" data-background-transition="none"></section>
  {% endfor %}
</section>

<section data-background="{{ '/assets/img/ci-architecture.png' | prepend: site.baseurl }}" data-background-size="auto 90%" data-background-transition="zoom">
  <aside class="notes">
    Đây là mô hình triển khai thực tế với Github và TravisCI. Để tạo ra một hệ thống tự động như thế này, mời các bạn theo dõi phàn tiếp theo.
  </aside>
</section>

<section>
  <section>
    <h2>Triển khai trên Travis CI</h2>
    <p>Chuẩn bị:</p>
    <ul>
      <li>Tài khoản github</li>
      <li>Open source project</li>
      <li>Unit tests</li>
    </ul>
  </section>

  {% for i in (1..5) %}
  <section data-background="{{ '/assets/img/travisci/step0' | prepend: site.baseurl | append: i | append: '.jpg' }}"
   data-background-size="auto 90%"></section>
  {% endfor %}

  <section>
    <p>Tạo file <code>.travis.yml</code></p>
    <pre><code class="hljs" data-trim contenteditable>
language: php
php:
- 5.5
- 5.6
- 7.0
- hhvm
sudo: false
addons:
  mariadb: '10.1'
before_install:
- composer self-update
install:
- composer install
- composer require satooshi/php-coveralls '~1.0'
before_script:
- composer run-script post-create-project-cmd
- mysql -u root -e 'CREATE DATABASE IF NOT EXISTS testdb;'
script:
- php vendor/bin/phpcs
- php vendor/bin/phpunit --coverage-clover build/logs/clover.xml
after_script:
- php vendor/bin/coveralls -v
notifications:
  slack:
    oanhnn:xxxxxxxxxxxxxxxxxxxxxxxxxx
		</code></pre>
    <p class="fragment">Tham khảo <a href="https://docs.travis-ci.com/">https://docs.travis-ci.com/</a></p>
  </section>

  <section>
    <p>Kiểm tra trong settings projects trên github</p>
    <p>Push code và xem kết quả build & test</p>
  </section>

  <section data-background="{{ '/assets/img/travisci/step06.jpg' | prepend: site.baseurl }}"
   data-background-size="auto 90%"></section>

  <section data-background="{{ '/assets/img/travisci/success.jpg' | prepend: site.baseurl }}"
   data-background-size="auto 90%"></section>

  <section data-background="{{ '/assets/img/travisci/error.jpg' | prepend: site.baseurl }}"
   data-background-size="auto 90%"></section>
</section>

<section style="text-align: left">
  <h3 style="text-align: center">Đánh giá</h3>
  <p>Ưu điểm:</p>
  <ul>
    <li>Dễ dàng setup & configure</li>
    <li>Free for open source project</li>
    <li>Hỗ trợ nhiều ngôn ngữ, nhiều mỗi trường, với các phiên bản khác nhau</li>
    <li>Tài liệu hỗ trợ tốt</li>
  </ul>
  <p>Nhược điểm:</p>
  <ul>
    <li>Chỉ hỗ trợ Github</li>
    <li>Phải trả phí với private project</li>
    <li>Chưa support môi trường Windows</li>
  </ul>
</section>

<section>
  <h2>GitLab CI là gì?</h2>
  <img class="logo" src="{{ '/assets/img/lg-gitlab.png' | prepend: site.baseurl }}">
  <ul style="list-style: none">
    <li class="fragment">GitLab 8.0+</li>
    <li class="fragment"><a href="http://docs.gitlab.com/ce/ci/">http://docs.gitlab.com/ce/ci/</a></li>
  </ul>
</section>

<section>
  <section>
    <h2>Triển khai trên GitLab CI</h2>
    <p>Chuẩn bị:</p>
    <ul>
      <li>Gitlab 8.0+ và cài đặt GitLab Runner</li>
      <li>Tài khoản gitlab</li>
      <li>Unit tests</li>
    </ul>
  </section>

  <section>
    <ol>
      <li>Tạo project</li>
      <li>Bật GitLab CI cho project</li>
      <li>Chuẩn bị source code và script Unit test</li>
      <li>Viết config cho GitLab CI</li>
      <li>Push code và xem kết quả build & test</li>
    </ol>
  </section>

  <section>
    <p>Tạo file <code>.gitlab-ci.yml</code></p>
    <pre><code class="hljs" data-trim contenteditable>
# Select image from https://hub.docker.com/r/_/php/
image: php:5.5

# Select what we should cache
cache:
  paths:
  - vendor/

# Install dependencies
before_script:
  # Install git, the php image doesn't have installed
  - apt-get update -yqq
  - apt-get install git -yqq
  # Install mysql driver
  - docker-php-ext-install pdo_mysql
  # Install composer
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install

services:
  - mysql

# Variables
variables:
  GIT_STRATEGY: clone
  GIT_DEPTH: "3"
  # Configure mysql service (https://hub.docker.com/_/mysql/)
  MYSQL_DATABASE: testdb
  MYSQL_ROOT_PASSWORD: mysql

# We test PHP5.5 (the default) with MySQL
test:php55:
  script:
    - php vendor/bin/phpcs
    - php vendor/bin/phpunit

# We test PHP5.5 (the default) with MySQL
test:php56:
  image: php:5.6
  script:
    - php vendor/bin/phpcs
    - php vendor/bin/phpunit

# We test PHP7 with MySQL, but we allow it to fail
test:php7:
  image: php:7
  script:
    - php vendor/bin/phpcs
    - php vendor/bin/phpunit
  allow_failure: true
		</code></pre>
    <p class="fragment">Tham khảo <a href="http://docs.gitlab.com/ce/ci/quick_start/README.html">http://doc.gitlab.com/ce/ci/</a></p>
  </section>
</section>

<section style="text-align: left">
  <h3 style="text-align: center">Đánh giá</h3>
  <p>Ưu điểm:</p>
  <ul>
    <li>Free and open source</li>
    <li>Hỗ trợ nhiều ngôn ngữ, nhiều mỗi trường, với các phiên bản khác nhau</li>
    <li>Hỗ trợ sử dụng Docker image</li>
  </ul>
  <p>Nhược điểm:</p>
  <ul>
    <li>Chỉ hỗ trợ GitLab</li>
  </ul>
</section>

<section data-background="{{ '/assets/img/qa3.png' | prepend: site.baseurl }}"
   data-background-size="auto 60%"></section>
