---
layout: null
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="one column">
          <h2>My slides</h2>
        </div>
      </div>
      <div class="row slides">

        <a class="one-third column slide" href="2016-11-21-unit-test-with-laravel.html">
          <img class="u-max-full-width" src="http://getskeleton.com/examples/landing/images/placeholder.png">
          <div class="desc">
            <p><small><i class="fa fa-calendar"></i> 21 Now 2016</small></p>
            <p>Unit test with Laravel</p>
          </div>
        </a>
        <a class="one-third column slide" href="2016-07-08-continuous-integration.html">
          <img class="u-max-full-width" src="http://getskeleton.com/examples/landing/images/placeholder.png">
          <div class="desc">
            <p><small><i class="fa fa-calendar"></i> 08 Jul 2016</small></p>
            <p>Continuous Integration</p>
          </div>
        </a>
        <a class="one-third column slide" href="2016-03-24-how-to-make-unit-test-with-phpunit.html">
          <img class="u-max-full-width" src="http://getskeleton.com/examples/landing/images/placeholder.png">
          <div class="desc">
            <p><small><i class="fa fa-calendar"></i> 24 Mar 2016</small></p>
            <p>How to make unit test with PHPUnit</p>
          </div>
        </a>
        <a class="one-third column slide" href="2016-03-08-auto-test-with-phpunit.html">
          <img class="u-max-full-width" src="http://getskeleton.com/examples/landing/images/placeholder.png">
          <div class="desc">
            <p><small><i class="fa fa-calendar"></i> 08 Mar 2016</small></p>
            <p>Auto test with PHPUnit</p>
          </div>
        </a>

      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
