<!DOCTYPE html>
<html lang="en-us">

<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
  </title>

  {% include graphmetas.html %}
  <!--[if lt IE 9]><script src="{{ site.baseurl }}public/js/html5.js" type="text/javascript"></script><![endif]-->

  <!-- CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/about.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700:latin">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/apple-touch-icon-180x180.png" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
</head>

<body itemscope="itemscope" itemtype="http://schema.org/Person">
  <div class="container-fluid">
    <div class="row main clearfix">

      <a href="#" class="js-floating-nav-trigger floating-nav-trigger">
        <i class="icon-bars"></i>
        <span class="close-icon">&times;</span>
      </a>
      <nav class="floating-nav js-floating-nav">
        <ul class="list-unstyled">
          <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
          {% for node in (site.pages | sort:"url") %} {% if (node.title != null) and (node.layout == "page") %}
          <li><a href="{{ node.url }}"><i class="fa fa-book"></i> {{ node.title }}</a></li>
          {% endif %} {% endfor %}
        </ul>
      </nav>

      <section class="col-md-3 card-wrapper profile-card-wrapper affix">
        {% include sidebar_me.html %}
      </section>
      <section class="col-md-9 card-wrapper pull-right">
        <div class="card background-card">
          <h4 class="text-uppercase">Background</h4>
          <hr/>
          <div class="background-details">
            {{ content }}
          </div>
        </div>
      </section>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/collapse.js"></script>
  <script>
    $(function() {
      var toggleFloatingMenu = function() {
        $('.js-floating-nav').toggleClass('is-visible');
        $('.js-floating-nav-trigger').toggleClass('is-open');
      };

      $(".background-card").css("min-height", window.screen.availHeight + "px");
      $("[rel=tooltip]").tooltip();
      $('.js-floating-nav-trigger').on('click', function(e) {
        e.preventDefault();
        toggleFloatingMenu();
      });

      $("#remaining-profiles").on('show.bs.collapse', function() {
        $('.js-profiles-collapse > i')
          .removeClass('icon-chevron-down')
          .addClass('icon-chevron-up');
      });

      $("#remaining-profiles").on('hidden.bs.collapse', function() {
        $('.js-profiles-collapse > i')
          .removeClass('icon-chevron-up')
          .addClass('icon-chevron-down');
      });
    });
  </script>
</body>

</html>
